.filter-buttons-container {
    justify-self: flex-start;
    max-height: min-content;
    height: 2rem;
    margin: 0 !important;
    padding: 0 !important;
}

.ant-btn-primary:hover {
  background-color: #d32f2f !important; /* Gray on hover */
  border-color: #808080; /* Gray border on hover */
  color: #fff; /* Ensure text remains visible */
}

/* Custom hover effect for secondary or default buttons */
.ant-btn-default:hover {
  background-color: #f0f0f0; /* Light gray on hover */
  border-color: #d9d9d9;
}

.submit-btn {
    margin: 0 !important;
}

.create-invoice {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}