@import './root.scss';

.container {
    nav.left-menu {
        width: 15%;
        background-color: #434343;
        color: #fff;
        text-align: center;
        font-size: 12px;
        padding: 1rem;
    }

    .tabs {
        display: flex;
        
        button {
            padding: 5px 15px;
            font-size: 15px;
            border-radius: 0;
            background-color: lightgray;
        }

        .active-tab {
            background-color: $color-red;
            color: $color-white;
        }
    }

    .tab-content {
        padding: 20px;
    }

    .logout {
        font-size: 15px;
        margin-top: 20px;
    }
}

.actions {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    margin-right: 10px;

    button {
        display: flex;
        font-size: 14px;
        gap: 0.5rem;
        font-weight: 600;
    }

    #new {
        background-color: $color-green;
        color: $color-white;
    }

    #modify {
        border: 1px solid $color-yellow;
        color: $color-yellow;
        
    }
}