@import './root.css';


.ant-form {
  width: 100%;
  gap: 0;
}

.ant-form-item { 
  margin-bottom: 0 !important;
}

.form-section {
  flex: 1;
}

label {
  margin-top: 1rem !important;
}

button[type=submit] {
  margin-top: 1rem;
}