.ant-layout {
  height: 100vh;
  box-sizing: border-box;
}

.avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.avatar img {
  height: 100%;
  width: 100%;
}

.dashboard-container {
  height: 100%; /* Full viewport height */
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.dashboard-row {
  flex: 1;
  display: flex;
  flex-wrap: wrap; /* Ensure responsiveness */
  height: 400px;
}

.full-height {
  display: flex;
  flex-grow: 1; /* Allow each column to take full height */
  height: 300px;
}

.dashboard-box {
  background-color: white;
  border: 1px solid #e0e0e0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; /* Center the content */
  height: 300px;
}

.bar-container {
    height: 400px;
}

/* styles.css */
.fade-enter {
  opacity: 0;
  transform: translateY(20px); /* You can adjust the transformation */
}
.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms ease, transform 300ms ease;
}
.fade-exit {
  opacity: 1;
  transform: translateY(0);
}
.fade-exit-active {
  opacity: 0;
  transform: translateY(20px); /* You can adjust the transformation */
  transition: opacity 300ms ease, transform 300ms ease;
}

.clients-actions {
  margin: 1rem 0 1rem 0;
}

.ant-table-wrapper {
  overflow-y: scroll;
}

li.ant-pagination-item > a {
  margin: 0 !important;
}

li.ant-menu-item {
  padding-left: 2rem !important;
}
